@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .duration-high {
    @apply transition-all duration-300 ease-in-out;
  }
}

@font-face {
  font-family: 'Kalpana';
  src: url('/src/fonts/Kalpana ANSI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KalpanaUnicode';
  src: url('/src/fonts/Kalpana UNICODE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 40s linear infinite;
}
